@import "./header.scss";
@import "./hero.scss";
@import "./menu.scss";
@import "./why.scss";

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --rightCyan: hsl(192, 70%, 51%);
  --grayBlue: hsl(233, 8%, 62%);
  --gray: hsl(220, 16%, 96%);
  --lightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
  --wrapperSpace: 1.5em;
}

body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  color: var(--grayBlue);
}
.copy {
  line-height: 1.7;
  font-size: .9em;
}

.is-hidden {
  display: none !important;
}

.wrapper {
  padding: 0 var(--wrapperSpace);
}

.title {
  border: 1px solid red;
  &__h1 {
    // border: 1px solid blue;
    font-size: 2.5em;
    color: var(--darkBlue);
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
    margin-bottom: .5em;
  }
  &__h2 {
    @extend .title__h1;
    font-size: 1.5em;
  }
}

.button {
  // border: 1px solid red;
  padding: .9em 2.2em;
  font-size: 1em;
  border-radius: 1.5em;
  color: var(--white);
  background-image: linear-gradient(to right,var(--limeGreen) 0%,  var(--rightCyan) 100%);
}


