.latestArticles {
  padding: 5em 0;
  background: var(--lightGray);
  .title__h1 {
    text-align: center;
  }
  // .title__h3 {
  //   text-align: left;
  // }
  &__grid {
    display: grid;
    grid-row-gap: 2em;
  }
  &__item {
    border-radius: .5em;
    overflow: hidden;
    background: var(--white);
    &-content {
      padding: 1.8em;
    }
    .copy {
      color: var(--grayBlue);
    }
    small {
      color: var(--grayBlue);
      margin-bottom: 1em;
      display: block;
    }
    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }
}